.CreateAccountSection {
    border-top: 2px solid rgba(207,215,223,0.25);
}
.StartNewChat,
.StartNewGroup {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6F9FC;
    z-index: 19;
}
.StartNewChat > div,
.StartNewGroup > div {
    padding: 2em 4em;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.StartNewChat > div > div:nth-child(1) > div:nth-child(1),
.StartNewGroup > div > div:nth-child(1) > div:nth-child(1) {
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: rgba(0,0,0,0.53);
}
.StartNewChat > div > div:nth-child(2),
.StartNewGroup > div > div:nth-child(2) {
    min-width: 315px;
    padding-bottom: 128px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@media all and (max-width: 768px) {
    .StartNewChat > div,
    .StartNewGroup > div {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
}
