.LandingMenu.scrollWith {
    background-color: #fff;
    position: fixed;
    border-bottom: 2px solid rgba(207,215,223,0.25);
}
.LandingMenu {
    position: absolute;
    padding: 24px 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    top: 0 !important;
    left: 0;
    right: 0;
    z-index: 2;
}
.LandingMenu > .container {
    display: flex;
}
.LandingMenu > .container .LandingMenuImg {
    flex-grow: 1;
    max-width: 1000px;
}
.LandingMenu > .container .LandingMenuImg img {
    height: 36px;
    margin-top: 2px;
}
.LandingMenu > .container .menu.large {
    margin: 0 !important;
}
.LandingMenu > .container .menu.large > a {
    padding: 0.35714286em 1em !important;
}
.LandingMenu > .container .menu.large > a:hover {
    color: #f2711c !important;
}
.LandingMenu .menu .item.disabled img {
    width: 204px;
}
.LandingMenu .LandingMenuCentered {
    margin-left: auto !important;
}
.LandingMenuImg {
    max-width: 200px;
    overflow: hidden;
}
.LandingMenuImg img {
    height: 32px;
    max-width: 280px;
}
@media screen and (max-width: 767px) {
    .LandingMenuImg {
        max-width: 36px;
    }
}
.landingMenuMyOrg > div:nth-child(1) {
    height: 16px;
}
.landingMenuMyOrg > div:nth-child(1) img {
    height: 32px;
    border-radius: 25%;
    margin-top: -8px;
    margin-right: 8px;
}