.LandingPageAboutPage > div:nth-child(1) {
    display: flex;
    background: url('/about/1-min.png');
    min-height: 1400px;
    background-position: center bottom;
    background-size: cover;
}
.LandingPageAboutPage > div:nth-child(1) > div {
    flex-grow: 1;
    text-align: center;
    width: 100%;
}
.LandingPageAboutPage > div:nth-child(1) > div > div {
    padding-top: 3em;
    padding-bottom: 5em;
}
.LandingPageAboutPage > div:nth-child(1) > div > div .header {
    margin-bottom: 1em;
    margin-top: 4em;
    font-size: 40px;
}
.LandingPageAboutPage > div:nth-child(1) > div > div .grid {
    color: #fff;
    font-size: 20px;
    text-align: left;
}
.LandingPageAboutPage > div:nth-child(1) > div > div .grid p {
    line-height: 32px;
}
.LandingPageAboutPage > div:nth-child(2) {
    display: flex;
    background: url('/about/2-min.png');
    background-position: center top;
    background-size: cover;
}
.LandingPageAboutPage > div:nth-child(2) > div {
    display: table;
    width: 100%;
    min-height: 36vh;
    text-align: center;
}
.LandingPageAboutPage > div:nth-child(2) > div > div {
    text-align: left;
    padding-top: 3em;
}
.LandingPageAboutPage > div:nth-child(2) > div > div .header {
    color: #fff;
    font-size: 40px;
    font-style: italic;
}
.LandingPageAboutPage > div:nth-child(2) > div > div p {
    color: #fff;
    font-size: 20px;
    text-align: left;
    line-height: 32px;
    width: 50%;
    padding-top: 3em;
    padding-bottom: 8em;
}
.LandingPageAboutPage > div:nth-child(3) {
    background: linear-gradient(#00223a,#cadfe2);
}
.LandingPageAboutPage > div:nth-child(3) .header {
    padding-top: 2em;
    font-size: 40px;
    font-style: italic;
    color: #fff;
}
.LandingPageAboutPage > div:nth-child(3) p {
    padding-bottom: 9em;
    padding-top: 2em;
    color: #fff;
    font-size: 20px;
    text-align: left;
    line-height: 32px;
}
.LandingPageAboutPage > div:nth-child(4) {
    display: flex;
    background: url('/about/3-min.png');
    background-position: center top;
    background-size: cover;
    min-height: 700px;
}
.LandingPageAboutPage > div:nth-child(5) {
    background: linear-gradient(#D1D5D6,#E88B72);
}
.LandingPageAboutPage > div:nth-child(5) .header {
    padding-top: 2em;
    font-size: 40px;
    font-style: italic;
    color: #fff;
}
.LandingPageAboutPage > div:nth-child(5) p {
    padding-bottom: 7em;
    padding-top: 2em;
    color: #fff;
    font-size: 20px;
    text-align: left;
    line-height: 32px;
}
.LandingPageAboutPage > div:nth-child(6) {
    display: flex;
    background: url(/about/4-min.png);
    background-position: center top;
    background-size: cover;
}
.LandingPageAboutPage > div:nth-child(6) > div {
    display: table;
    width: 100%;
    min-height: 36vh;
    text-align: center;
}
.LandingPageAboutPage > div:nth-child(6) > div > div {
    text-align: left;
    padding-top: 3em;
}
.LandingPageAboutPage > div:nth-child(6) > div > div .header {
    color: #fff;
}
.LandingPageAboutPage > div:nth-child(6) > div > div p {
    color: #fff;
    font-size: 20px;
    text-align: left;
    line-height: 32px;
    padding-top: 3em;
    padding-bottom: 8em;
}
@media screen and (max-width: 500px) {
    .LandingPageAboutPage > div:nth-child(2) > div > div p {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .LandingPageAboutPage > div:nth-child(6) > div > div p {
        color: rgba(0,0,0,0.83) !important;
    }
}
