.OrgStartHome {
    height: calc(100vh - 62px) !important;
}
.cc-groupPage-container > div:nth-child(1) {
    margin-top: 63px;
}
.NewMessengerBody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 62px) !important;
    margin-top: 63px;
}
.NewMessengerBody > div:nth-child(1) {
    flex-grow: 1;
}
.activeStar.star {
    color: gold;
}
.adminAreaPadded {
    overflow: auto !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
    padding: 0em 2em;
    background-color: #F2F5F9 !important;
    height: 100% !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.adminAreaPadded > div:nth-child(1) {
    padding-top: 3em;
    padding-bottom: 15em;
    margin-top: 63px;
}
.NewMessengerPage {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.NewMessengerSendBar.activeTyping > div:nth-child(1) > div:nth-child(1) {
    border: 2px solid rgba(0,0,0,0.45);
    border-right: none !important;
}
.NewMessengerSendBar.activeTyping > div:nth-child(1) > div:nth-child(2) {
    border: 2px solid rgba(0,0,0,0.45);
    border-right: none !important;
}
.NewMessengerSendBar.activeTyping > div:nth-child(2) > div {
    border: 2px solid rgba(0,0,0,0.45);
}
.NewMessengerSendBar {
    min-height: 62px;
    padding: 12px 16px;
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 8px;
}
.NewMessengerSendBar > div:nth-child(2) {
    position: relative;
    display: flex;
    flex-direction: row;
}
.NewMessengerSendBar > div:nth-child(2) > div {
    border: 2px solid rgba(0,0,0,0.15) !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0 !important;
    box-shadow: none !important;
    border-bottom: none !important;
    flex-grow: 1 !important;
    width: 100% !important;
    right: 44px !important;
    left: 44px !important;
}
.NewMessengerSendBar > div:nth-child(1) {
    display: flex;
}
.NewMessengerSendBar > div:nth-child(1) > div:nth-child(1) {
    height: 38px;
    min-width: 44px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
    border: 2px solid rgba(0,0,0,0.15);
    border-right: none !important;
    color: rgba(0,0,0,0.63);
    line-height: 36px;
}
.NewMessengerSendBar > div:nth-child(1) > div:nth-child(1) > i {
    margin: 0;
}
.NewMessengerSendBar > div:nth-child(1) > div:nth-child(2) {
    border-right: none !important;
    flex-grow: 1;
    border: 2px solid rgba(0,0,0,0.15);
    background-color: #fff;
    padding: 6px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    max-height: 100px;
    padding-right: 17px;
    line-height: 18px;
    font-size: 13px;
    word-break: break-all;
    color: rgba(0,0,0,0.83);
    height: auto !important;
}
.NewMessengerSendBar > div:nth-child(1) > div:nth-child(4) button {
    height: 38px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.NewMessengerMessages {
    display: flex;
    height: 100vh;
    background-color: #fff !important;
    flex-direction: column-reverse;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.NewMessengerSingleMessage > div {
    display: flex;
    padding: 6px 24px;
}
.NewMessengerSingleMessage > div > div:nth-child(1) {
    margin-right: 8px;
}
.NewMessengerSingleMessage > div > div:nth-child(1) img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
}
.NewMessengerSingleMessage > div > div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.NewMessengerSingleMessage > div > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
}
.NewMessengerSingleMessage > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1):hover {
    text-decoration: underline;
}
.NewMessengerSingleMessage > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
    color: #000000;
}
.NewMessengerSingleMessage > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    font-size: 12px;
    color: rgba(0,0,0,0.53);
    padding: 0 8px;
}
.NewMessengerSingleMessage > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(3):hover {
    background-color: rgba(0,0,0,0.1);
}
.NewMessengerSingleMessage > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(3):hover i {
    color: rgba(0,0,0,0.73);
}
.NewMessengerSingleMessage > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) {
    text-align: center;
    border-radius: 4px;
    padding: 0 2px;
}
.NewMessengerSingleMessage > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) i {
    color: rgba(0,0,0,0.43);
    margin: 0;
}
.NewMessengerSingleMessage > div > div:nth-child(2) > div:nth-child(2) {
    color: rgba(0,0,0,0.83);
    font-size: 14px;
    font-weight: 400;
    min-width: 327px;
    width: 80%;
}
.ownMessage > div > div:nth-child(1) {
    margin-left: 12px;
    margin-right: 0;
}
.ownMessage > div {
    flex-direction: row-reverse;
}
.ownMessage > div > div:nth-child(2) {
    text-align: right;
}
.ownMessage > div > div:nth-child(2) > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.ownMessage > div > div:nth-child(2) > div:nth-child(2) {
    float: right;
    align-self: flex-end;
}
.ownMessage > div .public-DraftStyleDefault-ltr {
    text-align: right;
}
.grid-no-margin-resp {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem.itemActive > div > div:nth-child(3) div.label {
    display: none;
}
.NewMessengerSingleMessage:hover {
    background-color: #fff;
}
.NewMessengerStart {
    padding-top: 132px;
    margin-bottom: 24px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}
.MessengerTopbarInfos {
    display: flex;
    margin-top: 2px;
}
.MessengerTopbarInfos > div:nth-child(1) {
    margin-right: 8px;
}
.MessengerTopbarInfos > div:nth-child(1) img {
    height: 36px;
    width: 36px;
    border-radius: 6px;
}
.MessengerTopbarInfos > div:nth-child(2) > div:nth-child(1) {
    font-size: 18px;
    font-weight: 900;
    opacity: 0.83;
    margin-top: 3px;
    display: flex;
    color: #000;
}
.MessengerTopbarInfos > div:nth-child(2) > div:nth-child(2) {
    font-size: 12px;
    opacity: 0.63;
}
.NewMessengerSendBarTyping {
    position: absolute;
    left: 64px;
    bottom: -6px;
    font-size: 12px;
    font-style: italic;
    font-weight: 900;
    color: rgba(0,0,0,0.73);
}
