.showUnder768 {
    display: none !important;
}
.newTopbar {
    transition: 0.5s all;
}
@media (max-width: 768px) {
    .newFramework {
        position: relative;
        overflow-x: hidden;
    }
    .newFramework > div:nth-child(2) {
        min-width: 100vw;
        left: 0;
        width: 100vw;
        max-width: 100vw;
        position: absolute;
        height: 100vh;
        transition: 0.5s all;
    }
    .newFramework.showSidebar > div:nth-child(2) {
        left: 275px;
    }
    .newFramework.showSidebar .newTopbar {
        left: 0 !important;
        left: 275px !important;
    }
    .hideUnder768 {
        display: none !important;
    }
    .showUnder768 {
        display: block !important;
    }
    .sidebarShowIcon {
        width: 19vw;
        text-align: center;
    }
    .topbarSearch .topbarItem {
        width: 19vw;
        text-align: center;
    }
    .unatyIconMobile {
        line-height: 45px !important;
        width: 19vw;
        text-align: center;
    }
    .iconMoreInfos {
        width: 20%;
        line-height: 49px;
        text-align: center !important;
        font-size: 17px;
    }
    .iconMoreInfos i {
        color: rgba(0,0,0,0.73) !important;
    }
    .topbarSearchExtra {
        width: 20% !important;
    }
    .topbarSearchExtra .hideOverMobile .topbarItem {
        line-height: 44px !important;
        height: 44px !important;
    }
    .newTopbarLeftBack {
        width: 60% !important;
    }
    .newTopbarLeftBack > div:nth-child(1) {
        width: 33.333333%;
        text-align: center;
        font-size: 19px;
    }
    .newTopbarLeftBack > div:nth-child(1) i {
        color: rgba(0,0,0,0.73) !important;
    }
    .newTopbarLeftBack > div:nth-child(2) {
        width: 33.333333%;
        text-align: center;
    }
    .newTopbarLeftBack > div:nth-child(2) i {
        padding-top: 7px;
        color: rgba(0,0,0,0.73) !important;
    }
    .newTopbarLeftBack > div:nth-child(3) {
        width: 33.333333%;
        text-align: center;
    }
    .newTopbarLeftBack > div:nth-child(3) i {
        color: rgba(0,0,0,0.73) !important;
        font-size: 21px;
        line-height: 12px;
        padding-top: 18px;
    }
    .sidebarShowIcon.iconHeaderBar {
        line-height: 42px !important;
    }
}
.iconHeaderBar:hover {
    cursor: pointer;
}
.iconHeaderBar:not(.notificationsArea):not(.sidebarShowIcon) {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 5px;
    line-height: 11;
    height: 40px;
}
.iconHeaderBar:not(.notificationsArea):not(.sidebarShowIcon) i {
    margin: 0 !important;
    font-size: 20px !important;
    line-height: 0;
}
@media all and (max-width: 768px) {
    .iconHeaderBar.notificationsArea i span {
        right: 38%;
    }
}
.iconHeaderBar.notificationsArea {
    padding-left: 6px;
    padding-right: 12px;
    font-size: 20px;
    position: relative;
    line-height: 40px;
}
.iconHeaderBar.notificationsArea i {
    margin: 0;
}
.iconHeaderBar.notificationsArea span {
    position: absolute;
    border-radius: 4px;
    background-color: #CF513D;
    color: #fff;
    font-size: 11px;
    height: 19px;
    line-height: 15px;
    top: 2px;
    padding: 2px 4px;
    text-shadow: 1px 1px #000;
    right: 10px;
}
.sidebarShowIcon {
    font-size: 14px;
    padding-left: 4px;
    line-height: 44px;
    padding-right: 6px;
}
.newBodyContainer {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    min-width: calc(100vw - 275px) !important;
}
