.plainSquare {
    height: 40px;
    width: 40px;
}
.touchOverflowY {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;
}
.newSidebar {
    width: 275px;
}
.newSidebar .newInner {
    background-color: #4A5A73;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.newSidebar .newInner .newTopSection {
    display: flex;
    padding: 0;
    min-height: 110px;
    flex-direction: column;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) {
    display: flex;
    min-height: 62px;
    padding-left: 16px;
    padding-top: 10px;
    min-width: 0 !important;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) > div:nth-child(1) {
    flex-grow: 1;
    min-width: 0 !important;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) > div:nth-child(1) > div:nth-child(1) {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) > div:nth-child(1) > div:nth-child(1) .newAvatarContainer {
    margin-right: 10px;
    display: none;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) > div:nth-child(1) > div:nth-child(1) .newAvatarContainer img {
    border-radius: 12.5%;
    height: 48px;
    width: 48px;
    background-color: #fff;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 900;
    opacity: 1;
    height: 22px;
    color: #EDF3F6;
    margin-top: 5px;
    position: relative;
    display: flex;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) i {
    font-size: 14px;
    margin-left: 2px;
    opacity: 0.83;
    cursor: pointer;
    display: block !important;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    opacity: 0.63;
    font-weight: 400;
    font-size: 14px;
    color: #EDF3F6;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
    opacity: 0.63;
    font-weight: 400;
    font-size: 14px;
    color: #EDF3F6;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) > div:nth-child(2) {
    line-height: normal;
    font-size: 17px;
    opacity: 0.83;
    color: #EDF3F6;
    min-width: 32px;
    text-align: center;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar) > div:nth-child(2) i {
    cursor: pointer;
    margin-top: 14px;
    font-size: 20px;
}
.newSidebar .newInner .mainSidebarScroll {
    padding: 0;
    margin-top: 16px;
    padding-bottom: 128px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: 100%;
    flex-grow: 1;
}
.newSidebar .newInner .mainSidebarScroll .mainItemsSection > a {
    padding: 10px 8px;
    border-radius: 0;
    padding-left: 16px;
    margin: 0;
    margin-bottom: 6px;
    display: flex;
    color: #EDF3F6;
    opacity: 1;
    cursor: pointer;
}
.newSidebar .newInner .mainSidebarScroll .mainItemsSection > a > div:nth-child(1) {
    font-size: 18px;
    margin-right: 6px;
}
.newSidebar .newInner .mainSidebarScroll .mainItemsSection > a > div:nth-child(2) {
    flex-grow: 1;
    letter-spacing: 0.3px;
    font-size: 15px;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection {
    margin-top: 24px;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionHeader {
    display: flex;
    padding: 0 16px;
    color: #EDF3F6;
    margin-bottom: 4px;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionHeader > div:nth-child(1) {
    flex-grow: 1;
    color: #EDF3F6;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionHeader > div:nth-child(1) .input {
    color: #EDF3F6;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionHeader > div:nth-child(1) input {
    font-size: 14px;
    color: #EDF3F6 !important;
    opacity: 1;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionHeader > div:nth-child(2) {
    font-size: 16px;
    margin-left: 4px;
    display: flex;
    cursor: pointer;
    opacity: 0.53;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionHeader > div:nth-child(2):hover {
    opacity: 0.73;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionHeader > div:nth-child(3) {
    font-size: 13px;
    margin-left: 1px;
    display: flex;
    cursor: pointer;
    opacity: 0.53;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionHeader > div:nth-child(3):hover {
    opacity: 0.73;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionHeader > div:nth-child(3).itemActive {
    opacity: 0.93;
    color: #87CCE2;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionItem {
    margin-bottom: 4px;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionItem > div {
    display: flex;
    cursor: pointer;
    padding: 6px 6px;
    border-radius: 0;
    color: #EDF3F6;
    padding-left: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionItem > div > div:nth-child(1) {
    font-size: 13px;
    margin-right: 6px;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionItem > div > div:nth-child(2) {
    flex-grow: 1;
    letter-spacing: 0.3px;
    font-size: 14px;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionItem > div > div:nth-child(3) {
    margin-right: 14px;
    display: flex;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionItem > div > div:nth-child(3) > div.label {
    background-color: #55BB91 !important;
    color: #F0F0F0;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionItem > div > div:nth-child(4) {
    display: none;
}
.newSidebar .newInner .mainSidebarScroll .groupsChatSection .groupsChatSectionItem > div:hover > div:nth-child(4) {
    display: block;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection {
    margin-top: 24px;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader {
    display: flex;
    margin-bottom: 6px;
    padding: 0 16px;
    color: #EDF3F6;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader > div:nth-child(1) {
    flex-grow: 1;
    color: #EDF3F6 !important;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader > div:nth-child(1) .input {
    color: #EDF3F6;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader > div:nth-child(1) input {
    font-size: 16px;
    color: #EDF3F6 !important;
    opacity: 1;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader > div:nth-child(2) {
    font-size: 16px;
    margin-left: 4px;
    display: flex;
    cursor: pointer;
    opacity: 0.53;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader > div:nth-child(2) span {
    margin-top: 1px;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader > div:nth-child(2):hover {
    opacity: 0.73;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader > div:nth-child(3) {
    font-size: 13px;
    margin-left: 1px;
    display: flex;
    cursor: pointer;
    opacity: 0.53;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader > div:nth-child(3) i {
    margin-top: 2px;
    margin-left: 1px;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader > div:nth-child(3):hover {
    opacity: 0.73;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionHeader > div:nth-child(3).itemActive {
    opacity: 0.93;
    color: #87CCE2;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem {
    margin-bottom: 4px;
    display: block;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem > div {
    display: flex;
    cursor: pointer;
    padding: 6px 6px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 16px;
    color: #EDF3F6;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem > div > div:nth-child(1) {
    font-size: 12px !important;
    position: relative;
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
    display: none !important;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem > div > div:nth-child(1) img {
    height: 24px;
    width: 24px;
    border-radius: 25%;
    margin-left: -2px;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem > div > div:nth-child(1) span {
    height: 12px;
    width: 12px;
    background-color: #999;
    position: absolute;
    top: 17px;
    border-radius: 50%;
    border: 2px solid #4A5A73;
    right: -4px;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem > div > div:nth-child(2) {
    flex-grow: 1;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 24px;
    font-style: italic;
    padding-left: 3px;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem > div > div:nth-child(3) {
    margin-right: 14px;
    display: flex;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem > div > div:nth-child(3) div.label {
    height: 19px;
    background-color: #55BB91 !important;
    color: #F0F0F0;
    margin-top: 3px;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem > div > div:nth-child(4) {
    display: none;
    line-height: 24px;
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem > div:hover > div:nth-child(4) {
    display: block;
}
.mainItemsSection > a {
    opacity: 0.63 !important;
}
.mainItemsSection > a:hover {
    background-color: #3B485D;
    opacity: 0.83 !important;
}
.mainItemsSection > a.itemActive {
    background-color: #87CCE2 !important;
    color: #FFFFFF !important;
    opacity: 1 !important;
    font-weight: 400;
}
.groupsChatSectionItem > div,
.peopleChatSectionItem > div {
    opacity: 0.63 !important;
}
.groupsChatSectionItem:hover > div {
    background-color: #3B485D;
    opacity: 0.83 !important;
}
.groupsChatSectionItem.itemActive > div {
    background-color: #87CCE2;
    color: #FFFFFF !important;
    opacity: 1 !important;
}
.groupsChatSectionItem.itemActive > div > div:nth-child(2) {
    color: #FFFFFF !important;
}
.groupsChatSectionItem.itemActive > div > div:nth-child(3) > div.label {
    display: none !important;
    background-color: #FFFFFF !important;
    color: #87CCE2 !important;
}
.newSidebar .newInner .groupsChatSection .groupsChatSectionItem.itemActive > div > div:nth-child(3) > div.label {
    background-color: #FFFFFF !important;
    color: #87CCE2 !important;
}
.peopleChatSectionItem:hover > div {
    background-color: #3B485D;
    opacity: 0.83 !important;
}
.peopleChatSectionItem:hover > div > div:nth-child(1) span {
    border-color: #3B485D !important;
}
.peopleChatSectionItem.itemActive > div {
    background-color: #87CCE2;
    color: #FFFFFF !important;
    opacity: 1 !important;
}
.peopleChatSectionItem.itemActive > div > div:nth-child(1) span {
    border-color: #87CCE2 !important;
}
.peopleChatSectionItem.itemActive > div > div:nth-child(2) {
    color: #FFFFFF !important;
}
.peopleChatSectionItem.itemNew > div {
    opacity: 0.93 !important;
    font-weight: 900;
}
.groupsChatSectionItem.itemNew > div {
    opacity: 0.93 !important;
    font-weight: 900;
}
.marginLeft5 {
    margin-left: 5px !important;
}
.newTopbarName.singleLineHeader > div:nth-child(1) {
    margin-top: 10px !important;
}
.newTopbarName.singleLineHeader > div:nth-child(2) {
    display: none;
}
.newTopbar {
    position: fixed;
    width: 100%;
    top: 0 !important;
}
.newTopbar > div {
    display: flex;
    padding: 9px 10px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}
.newTopbar > div .newTopbarLeft {
    display: flex;
    flex-grow: 1;
}
.newTopbar > div .newTopbarLeft .newTopbarLeftBack {
    display: flex;
    line-height: 38px;
    font-size: 20px;
    margin-right: 4px;
}
.newTopbar > div .newTopbarLeft .newTopbarLeftBack > div i {
    opacity: 0.63;
}
.newTopbar > div .newTopbarLeft .newTopbarLeftBack > div i:hover {
    opacity: 0.83;
}
.newTopbar > div .newTopbarLeft .newTopbarName {
    cursor: pointer;
}
.newTopbar > div .newTopbarLeft .newTopbarName > div:nth-child(1) {
    font-size: 18px;
    font-weight: 900;
    opacity: 0.83;
    margin-top: 3px;
    display: flex;
}
.newTopbar > div .newTopbarLeft .newTopbarName > div:nth-child(2) {
    font-size: 12px;
    opacity: 0.63;
}
.newTopbar > div .newTopbarRight {
    display: flex;
    height: 38px;
    margin-top: 4px;
}
.newTopbar > div .newTopbarRight .topbarItem:hover {
    background-color: rgba(0,0,0,0.05);
}
.newTopbar > div .newTopbarRight .topbarSearch {
    height: 38px;
    padding-right: 6px;
    padding-left: 6px;
    z-index: 5;
}
.newTopbar > div .newTopbarRight .topbarMoreInfo {
    height: 38px;
    opacity: 0.63;
    line-height: 38px;
    font-size: 16px;
    cursor: pointer;
}
.newTopbar > div .newTopbarRight .topbarMoreInfo:hover,
.newTopbar > div .newTopbarRight .topbarItem:hover {
    opacity: 0.83;
}
.topbarItem {
    width: 40px;
    padding: 0 6px;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    opacity: 0.63;
    cursor: pointer;
    height: 38px;
    border-radius: 8px;
}
.topbarItem a {
    color: rgba(0,0,0,0.83) !important;
}
.topbarItem i {
    margin: 0;
}
.customSidebarMenu.unatyDropdownCustomMenu {
    left: -8px !important;
}
.sidebarNewCreateNew {
    margin-top: 16px;
    padding: 6px 10px;
    cursor: pointer;
}
.sidebarNewCreateNew > div {
    padding-left: 8px;
    font-size: 14px;
    color: #EDF3F6;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.73;
}
.sidebarNewCreateNew > div:hover {
    opacity: 0.93;
    font-weight: 900;
}
.peopleChatSectionItem.userOnline > div > div:nth-child(1) span {
    background-color: lightgreen !important;
}
.hiddentriangledropdown i.dropdown.extraShow {
    display: inline-block !important;
    font-size: 13px;
}
.sidebarNewBottomBar > div:hover {
    background-color: rgba(255,255,255,0.2) !important;
    opacity: 1;
    border-right: none !important;
}
.sidebarNewBottomBar {
    min-height: 32px;
    margin-top: 16px;
    margin-bottom: 12px;
}
.sidebarNewBottomBar > div {
    background-color: rgba(255,255,255,0.15) !important;
    border: none !important;
    border-radius: 0;
    color: #FFFFFF !important;
    padding: 8px 12px;
    display: flex;
    line-height: 16px;
    opacity: 0.83;
    padding-left: 16px;
    cursor: pointer;
    padding-right: 8px !important;
    height: 32px;
    border-right: none !important;
}
.sidebarNewBottomBar > div > div:nth-child(1) {
    flex-grow: 1;
}
.newSidebarTopper {
    flex-direction: column !important;
}
.newSidebarTopper > div:nth-child(1) {
    margin-top: 5px;
    height: 22px;
    width: 60%;
    background-color: #EDF3F6;
    opacity: 0.65;
}
.newSidebarTopper > div:nth-child(2) {
    height: 15px;
    width: 40%;
    background-color: #EDF3F6;
    opacity: 0.35;
    margin-top: 8px;
}
.newSidebarTopperAdmin {
    flex-direction: column !important;
}
.newSidebarTopperAdmin > div:nth-child(1) {
    margin-top: 5px;
    height: 22px;
    width: 60%;
    background-color: #fff;
    opacity: 0.25;
}
.newSidebarTopperAdmin > div:nth-child(2) {
    height: 15px;
    width: 40%;
    background-color: #fff;
    opacity: 0.05;
    margin-top: 8px;
}
.newFramework {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.newFramework .newBodyContainer {
    flex-grow: 1;
    background-color: #F2F5F9 !important;
}
.newSidebar {
    position: fixed;
    z-index: 14;
}
.newBodyContainer {
    z-index: 15;
    margin-left: 275px;
}
@media screen and (max-width: 767px) {
    .newBodyContainer {
        margin-left: 0;
    }
}
@media screen and (min-width: 768px) {
    .newSidebar {
        z-index: 30 !important;
    }
}
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem.itemActive > div > div:nth-child(2),
.newSidebar .newInner .mainSidebarScroll .peopleChatSection .peopleChatSectionItem.itemNew > div > div:nth-child(2) {
    font-style: normal;
}
.loadingImg64 {
    height: 64px;
    width: 64px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 6px;
}
.loadingImg48 {
    height: 48px;
    width: 48px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 6px;
}
.loadingImg36 {
    height: 36px;
    width: 36px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 6px;
}
.loadingImg32 {
    height: 32px;
    width: 32px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 6px;
}
.loadingImg24 {
    height: 24px;
    width: 24px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 6px;
}
.loadingSpan18124 {
    height: 18px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 124px;
}
.loadingSquare1810 {
    height: 18px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 18px;
    margin: 0 4px;
    margin-top: 10px;
}
.loadingSpan980 {
    height: 9px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 80px;
    margin-top: 4px;
}
.LoadingPageLoadingSection {
    height: 80vh;
}
.newAdminSidebar .newInner {
    background-color: #1b1c1d !important;
}
.newAdminSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar):hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.newAdminSidebar .mainSidebarScroll {
    padding-left: 0 !important;
}
.newAdminSidebar .sidebarNewBottomBar > div {
    background-color: rgba(255,255,255,0.15) !important;
    border: none !important;
}
.newAdminSidebar .sidebarNewBottomBar:hover > div {
    background-color: rgba(255,255,255,0.2) !important;
}
.previewConstruct {
    padding-top: 12px;
    padding-bottom: 12px;
}
.previewConstruct > div:nth-child(1) {
    margin-bottom: 12px;
}
.previewConstruct > div:nth-child(1) > div {
    margin-bottom: 4px;
}
.previewConstruct > div:nth-child(1) > div > div {
    padding-left: 14px;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    width: 85%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 6px;
}
.previewConstruct > div:nth-child(2) > div {
    margin-bottom: 4px;
    display: flex;
    padding-top: 6px;
    width: 85%;
    padding-bottom: 6px;
    padding-right: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.previewConstruct > div:nth-child(2) > div > div:nth-child(1) {
    padding-left: 14px;
    font-size: 16px;
    flex-grow: 1;
}
.bottomCookieBox {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px;
    background-color: #fff;
    z-index: 99;
    padding-right: 100px;
}
.newSidebar .newInner .newTopSection > div:not(.sidebarNewBottomBar):hover,
.sidebarNewCreateNew:hover {
    background-color: rgba(255,255,255,0.15) !important;
}
