
.idea/*
.idea/modules.xml
.idea/modules.xml
.idea/UnatyStaticLP.iml
.idea/modules.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
.DS_Store

*.xml

.DS_Store
*.xml
*.xml
.idea/workspace.xml
*.xml

*.xml

.idea/workspace.xml
.idea/workspace.xml
